
body{
  background-color: grey;
}
.nav{
  background-color: rgb(232, 134, 191);
  border-radius: 10px;
  padding: 11px;
  margin: 9px;
  
}
.card{
  width: 300px;
  border: 1px solid white;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  background-color: rgb(151, 127, 127);
}
.parent{
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.card button{
  padding: auto;
  border-radius: 10px;
  background-color: forestgreen;
  color: white;
  border: none;
  pointer-events: auto;

}
.card img{
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 50%;
}